<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<script src="jquery.js"></script>
<body>
 <h1>Hello，world</h1>
 <form action="/customer/insertOrder" method="post">
         <p>订单编号: <input type="text" name="order_id" /></p>
         <p>订单创建人: <input type="text" name="created_by" /></p>
         <p>队长编号: <input type="text" name="caption_id" /></p>
         <p>接收队长: <input type="text" name="caption_by" /></p>
         <p>司机编号: <input type="text" name="driver_id" /></p>
         <p>接收司机: <input type="text" name="driver_by" /></p>
         <p>确认人编号: <input type="text" name="confirm_id" /></p>
         <p>订单完成确认人: <input type="text" name="confirm_by" /></p>
         <p>订单金额: <input type="text" name="order_price" /></p>
         <p>状态代码: <input type="text" name="zt_id" /></p>
         <p>公司代码: <input type="text" name="company_id" /></p>
         <p>送货时间: <input type="text" name="sh_time" /></p>
     <table >
         <tr>
             <td name ="order_bh">aaaa111</td>
             <td name ="goods_bh">12</td>
             <td name ="supplier_id">13</td>
             <td name ="goods_num">14</td>
             <td name ="goods_jd">15</td>
             <td name ="goods_dw">公斤</td>
             <td name ="goods_xj">17</td>
             <td name ="order_zj">18</td>
         </tr>
     </table>

     <input type="submit" value="Submit" />
 </form>
<!--<a href="/product/tz">tz.html</a>    发布的时候用这个url-->
<!--<a href="/tz">tz.html</a>          开发用这个-->
<a href="/tz">tz.html</a>
</body>
</html>