<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>日常管理</title>
</head>
<link rel="stylesheet" type="text/css" href="plugins/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="plugins/bootstrap-table/bootstrap-table.min.css"/>
<link rel="stylesheet" type="text/css" href="plugins/bootstrap-select-1.12.4/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/css" href="plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>
<script src="/jquery.js"></script>
<script type="text/javascript" src="/js/rcgl.js"></script>
<script src="plugins/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="utf-8"></script>
<body>
    <div style="height:auto;width:auto;position:relative;">
        <button id="rcgl_rzgl" type="text">入住管理</button>&nbsp;&nbsp;
        <button id="rcgl_hsgl" type="text">换宿管理</button>&nbsp;&nbsp;
        <button id="rcgl_tsgl" type="text">退宿管理</button>&nbsp;&nbsp;
        <button id="rcgl_xslb" type="text">学生列表</button>&nbsp;&nbsp;
        <button id="rcgl_rzsq" type="text">入住申请列表</button>&nbsp;&nbsp;
        <button id="rcgl_hssq" type="text">换宿申请列表</button>&nbsp;&nbsp;
        <button id="rcgl_tssq" type="text">退宿申请列表</button>&nbsp;&nbsp;
        <button id="rcgl_sqtj" type="text">申请添加</button>&nbsp;&nbsp;
    </div>
    <div id="rcgl_bed" class="hidden_model">
    </div>
    <div id="rzsq_tableList" class="hidden_model">
    </div>
    <div id="rcgl_sqtj_model" class="hidden_model">
    </div>
</body>
</html>