<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>住宿管理</title>
</head>
<link rel="stylesheet" type="text/css" href="plugins/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="plugins/bootstrap-table/bootstrap-table.min.css"/>
<link rel="stylesheet" type="text/css" href="plugins/bootstrap-select-1.12.4/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/css" href="plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>
<script src="/jquery.js"></script>
<script type="text/javascript" src="/js/zsgl.js"></script>
<script src="plugins/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="utf-8"></script>
<body>
    <div style="height:auto;width:auto;position:relative;">
        <button id="zsgl_xqgl">校区管理</button>&nbsp;&nbsp;
        <button id="zsgl_gyqgl" type="text">公寓区管理</button>&nbsp;&nbsp;
        <button id="zsgl_ldgl" type="text">楼栋管理</button>&nbsp;&nbsp;
        <button id="zsgl_fjgl" type="text">房间管理</button>&nbsp;&nbsp;
        <button id="zsgl_cwgl" type="text">床位管理</button>
    </div>
    <div id="tableList">

    </div>
    <div id="zsgl_xqgl_model" class="hidden_model" hidden="true" style="position:absolute;">
        <h3>添加校区</h3>
        校区名称:<input type="text" id="xqgl_name"/>
        <button id="xqgl_insert_button">新建提交</button>
    </div>
    <div id="zsgl_gyqgl_model" class="hidden_model" hidden="true" style="position:absolute;">
        <div style="margin-left:30px;">
            <h3>添加公寓</h3>
            <table >
                <tr>
                    <td>校区名:<select  id="gyqgl_xqname" class="log-tk-input"></select></td>
                </tr>
                <tr>
                    <td>公寓名:<input type="text" id="gyqgl_gyname"/></td>
                </tr>

            </table>
            <button id="gyqgl_insert_button">新建提交</button>
        </div>
    </div>
    <div id="zsgl_ldgl_model" class="hidden_model" hidden="true" style="position:absolute;">
        <div style="margin-left:30px;">
            <h3>添加楼栋</h3>
            <table>
                <tr>
                    <td>校区名:<select  id="ldgl_xqname" class="log-tk-input"></select></td>
                </tr>
                <tr>
                    <td>公寓名:<select  id="ldgl_gyname" class="log-tk-input"></select></td>
                </tr>
                <tr>
                    <td>楼名:<input type="text" id="ldgl_louname"/></td>
                </tr>
                <tr>
                    <td>男/女:<select  id="ldgl_louzt" class="log-tk-input"></select></td>
                </tr>
            </table>
            <button id="ldgl_insert_button">新建提交</button>
        </div>
    </div>
</body>
</html>