<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>住宿管理</title>
</head>
<link rel="stylesheet" type="text/css" href="plugins/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="plugins/bootstrap-table/bootstrap-table.min.css"/>
<link rel="stylesheet" type="text/css" href="plugins/bootstrap-select-1.12.4/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/css" href="plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>
<script src="/jquery.js"></script>
<script type="text/javascript" src="/js/zsgl.js"></script>
<script src="plugins/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="utf-8"></script>
<body>
    <div style="height:auto;width:auto;">
        <button id="zsgl_xqgl">校区管理</button>&nbsp;&nbsp;
        <button id="zsgl_gyqgl" type="text">公寓区管理</button>&nbsp;&nbsp;
        <button id="zsgl_ldgl" type="text">楼栋管理</button>&nbsp;&nbsp;
        <button id="zsgl_fjgl" type="text">房间管理</button>&nbsp;&nbsp;
        <button id="zsgl_cwgl" type="text">床位管理</button>
    </div>
    <div id="tableList">

    </div>
</body>
</html>