<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.product.mapper.DailyMapper">
    <resultMap id="BedList" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="BH" property="bh"/>
        <result column="FJBH" property="fjbh"/>
        <result column="FJBZ" property="fjbz"/>
        <result column="FJBZNAME" property="fjbzname"/>
        <result column="LOUBH" property="loubh"/>
        <result column="LOUNAME" property="louname"/>
        <result column="XQBH" property="xqbh"/>
        <result column="XQNAME" property="xqname"/>
        <result column="GYBH" property="gybh"/>
        <result column="GYNAME" property="gyname"/>
        <result column="LOUZT" property="louzt"/>
        <result column="LOUNAME" property="louname"/>
        <result column="RKSJ" property="rksj"/>
        <result column="CWBH" property="cwbh"/>
        <result column="ZT" property="zt"/>
        <result column="ZTNAME" property="ztname"/>
        <result column="REALNAME" property="realname"/>
    </resultMap>
    <resultMap id="ApplyAsk" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="BH" property="sqrxm"/>
        <result column="FJBH" property="sqrxh"/>
        <result column="FJBZ" property="sqsj"/>
        <result column="FJBZNAME" property="sqlx"/>
        <result column="LOUBH" property="zxzt"/>
        <result column="LOUNAME" property="sqyy"/>
        <result column="XQBH" property="zxjgyy"/>
        <result column="XQNAME" property="sqcwbh"/>
        <result column="GYBH" property="ycwbh"/>
        <result column="GYNAME" property="spsj"/>
    </resultMap>
    <resultMap id="StuList" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="USERNAME" property="username"/>
        <result column="PASSWORD" property="password"/>
        <result column="ZSZT" property="zszt"/>
        <result column="ZSZTNAME" property="zsztname"/>
        <result column="QJZT" property="qjzt"/>
        <result column="QJZTNAME" property="qjztname"/>
        <result column="PATRIARCHID" property="patriarchid"/>
        <result column="LXDH" property="lxdh"/>
        <result column="JZLXDH" property="jzlxdh"/>
        <result column="XH" property="xh"/>
        <result column="REALNAME" property="realname"/>
        <result column="XB" property="xb"/>
        <result column="LB" property="lb"/>
        <result column="XY" property="xy"/>
        <result column="ZY" property="zy"/>
        <result column="NJ" property="nj"/>
        <result column="BJ" property="bj"/>
        <result column="XQ" property="xq"/>
        <result column="SFZH" property="sfzh"/>
        <result column="JG" property="jg"/>
        <result column="CWBH" property="cwbh"/>
        <result column="FPZT" property="fpzt"/>
        <result column="RKSJ" property="rksj"/>
    </resultMap>
    <select id="FjbhList" parameterType="java.util.Map" resultMap="BedList">
        select t.fjbh from bed_info t where
              t.loubh = #{loubh}
              <if test="xqbh!=null and xqbh !=''">
                  and t.xqbh =#{xqbh}
              </if>
              <if test="gybh!=null and gybh !=''">
                  and t.gybh =#{gybh}
              </if>
              group by t.fjbh
    </select>
    <select id="BedList" parameterType="java.util.Map" resultMap="BedList">
        select t.*,t1.realname from (select t.id,
        t.bh,
        t.fjbh,
        t.fjbz,
        (select name from dictionary a where a.lx='room' and t.fjbz = a.code) fjbzname,
        t.loubh,
        (select name from floor_info b where  t.loubh = b.loubh) louname,
        t.xqbh,
        (select name from campus_info c where  t.xqbh = c.bh) xqname,
        t.gybh,
        (select name from apartment_info d where  t.gybh = d.gybh) gyname,
        t.louzt,
        (select name from dictionary a where a.lx='xb' and t.louzt = a.code) louztname,
        t.rksj,
        t.cwbh,
        t.zt,
        (select name from dictionary a where a.lx='bed_state' and t.zt = a.code) ztname
        from bed_info t
        <where>
            <if test="xqbh!=null and xqbh !=''">
                and xqbh =#{xqbh}
            </if>
            <if test="gybh!=null and gybh !=''">
                and gybh =#{gybh}
            </if>
            <if test="loubh!=null and loubh !=''">
                and loubh =#{loubh}
            </if>
            <if test="fjbh!=null and fjbh !=''">
                and fjbh =#{fjbh}
            </if>
        </where>) t LEFT JOIN user_student t1 ON t.bh = t1.cwbh
    </select>
    <select id="StuList" parameterType="java.util.Map" resultMap="StuList">
        SELECT
            t.id,
            t.username,
            t.password,
            t.zszt,
            (select name from dictionary a where a.code = t.zszt and a.lx='stay_stste') zsztname,
            t.qjzt,
            (select name from dictionary a where a.code = t.qjzt and a.lx='qjzt') qjztname,
            t.patriarch_id patriarchid,
            t.lxdh,
            t.jzlxdh,
            t.xh,
            t.realname,
            (select name from dictionary a where a.code = t.xb and a.lx='xb') xb,
            (select name from dictionary a where a.code = t.lb and a.lx='studylb') lb,
            (select name from dictionary a where a.code = t.xy and a.lx='xy') xy,
            xy xycode,
            (select name from dictionary a where a.code = t.zy and a.lx='zy') zy,
            zy zycode,
            t.nj,
            t.bj,
            t.xq,
            t.sfzh,
            t.jg,
            t.cwbh,
            (select name from dictionary a where a.code = t.fpzt and a.lx='allot_state') fpzt,
            t.rksj
            from user_student t
            <where>
                t.zszt = #{zszt}
                <if test="xy!=null and xy!=''">
                    and xy =#{xy}
                </if>
                <if test="zy!=null and zy!=''">
                    and zy =#{zy}
                </if>
                <if test="nj!=null and nj!=''">
                    and nj =#{nj}
                </if>
                <if test="bj!=null and bj!=''">
                    and bj =#{bj}
                </if>
            </where>

    </select>
    <update id="MoveInto" parameterType="java.util.Map">
        update user_student set zszt = '2',cwbh=#{cwbh},fpzt='3' where xh = #{xh}
    </update>
    <update id="MoveInto2" parameterType="java.util.Map">
        update bed_info set zt = '2' where bh = #{cwbh}
    </update>
    <update id="QuitSs1" parameterType="java.util.Map">
        update user_student set zszt = '1',cwbh='',fpzt='1' where cwbh = #{cwbh}
    </update>
    <update id="QuitSs2" parameterType="java.util.Map">
        update bed_info set zt = '1' where bh = #{cwbh}
    </update>
    <update id="UpdateBed" parameterType="java.util.Map">
            update bed_info set zt = #{zt},rksj=#{rksj} where  bh =#{cwbh}
    </update>
    <update id="UpdateStudent" parameterType="java.util.Map">
        update user_student set zszt = #{zt},cwbh=#{cwbh},fpzt=#{fpzt} where xh = #{sqrxh}
    </update>
    <insert id="applyForAsk" parameterType="java.util.Map">
        insert into apply_ask(sqrxm,sqrxh,sqsj,sqlx,zxzt,sqyy,sqcwbh,ycwbh)
					 VALUES (#{sqrxm},#{sqrxh},#{rksj},#{sqlx},#{zxzt},#{sqyy},#{sqcwbh},#{ycwbh})
    </insert>
    <update id="updateApply" parameterType="java.util.Map">
        update apply_ask set zxzt = #{zxzt},zxjgyy=#{zxjgyy},spsj=#{rksj} where  id =#{id}
    </update>
    <select id="applyForList" parameterType="java.util.Map" resultMap="ApplyAsk">
        select t.id,
               t.sqrxm,
               t.sqrxh,
               t.sqsj,
			  (select name from dictionary a where t.sqlx=a.code and a.lx='sqlx') sqlx,
			  (select name from dictionary a where t.zxzt=a.code and a.lx='sqzt') zxzt,
			   t.sqyy,
               t.zxjgyy,
               t.sqcwbh,
               t.ycwbh,
			   t.spsj
	from apply_ask t
	<where>
        <if test="zxzt!=null and zxzt!=''">
            and zxzt = #{zxzt}
        </if>
        <if test="sqlx!=null and sqlx!=''">
            and sqlx = #{sqlx}
        </if>

    </where>
    </select>
</mapper>
