<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.product.mapper.LiveMapper">
        <resultMap id="CampusList" type="java.util.Map">
            <result column="ID" property="id"/>
            <result column="BH" property="bh"/>
            <result column="NAME" property="louname"/>
            <result column="RKSJ" property="rksj"/>
        </resultMap>
        <resultMap id="ApartmentList" type="java.util.Map">
            <result column="ID" property="id"/>
            <result column="BH" property="bh"/>
            <result column="NAME" property="gyname"/>
            <result column="XQBH" property="xqbh"/>
            <result column="GYBH" property="gybh"/>
            <result column="RKSJ" property="rksj"/>
            <result column="XQNAME" property="xqname"/>
        </resultMap>
        <resultMap id="FloorList" type="java.util.Map">
            <result column="ID" property="id"/>
            <result column="BH" property="bh"/>
            <result column="NAME" property="name"/>
            <result column="LOUZT" property="louzt"/>
            <result column="LOUZTNAME" property="louztname"/>
            <result column="XQBH" property="xqbh"/>
            <result column="XQNAME" property="xqname"/>
            <result column="GYBH" property="gybh"/>
            <result column="GYNAME" property="gyname"/>
            <result column="LOUBH" property="loubh"/>
            <result column="RKSJ" property="rksj"/>
        </resultMap>
        <resultMap id="RoomList" type="java.util.Map">
            <result column="ID" property="id"/>
            <result column="BH" property="bh"/>
            <result column="FJBH" property="fjbh"/>
            <result column="FJBZ" property="fjbz"/>
            <result column="FJBZNAME" property="fjbzname"/>
            <result column="LOUBH" property="loubh"/>
            <result column="LOUNAME" property="louname"/>
            <result column="XQBH" property="xqbh"/>
            <result column="XQNAME" property="xqname"/>
            <result column="GYBH" property="gybh"/>
            <result column="GYNAME" property="gyname"/>
            <result column="LOUZT" property="louzt"/>
            <result column="LOUNAME" property="louname"/>
            <result column="RKSJ" property="rksj"/>
        </resultMap>
        <insert id="AddCampus" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
              insert into campus_info (name,rksj) VALUES (#{name},#{rksj})
        </insert>
        <update id="EditCampusBh" parameterType="java.util.Map">
            update campus_info set bh = #{bh} where id = #{id}
        </update>
        <update id="EditCampus" parameterType="java.util.Map">
            update campus_info set name = #{name},rksj=#{rksj} where id = #{id}
        </update>
        <delete id="DeleteCampus" parameterType="java.util.Map">
            delete from campus_info where id = #{id}
        </delete>
        <select id="ExistApartment" parameterType="java.util.Map" resultType="int">
            select count(*) from apartment_info where xqbh =#{bh}
        </select>
        <select id="QueryCampusList" parameterType="java.util.Map"  resultMap="CampusList">
            select * from campus_info
        </select>



        <select id="QueryApartmentList" parameterType="java.util.Map" resultMap="ApartmentList">
            select t.*,t1.name xqname from apartment_info t,campus_info t1
                        where t.xqbh = t1.bh
                          <if test="xqbh!=null and xqbh!=''">
                              and t.xqbh = #{xqbh}
                          </if>

        </select>
        <insert id="AddApartment1" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
            insert into apartment_info (name,xqbh,rksj) VALUES (#{name},#{xqbh},#{rksj})
        </insert>
        <update id="AddApartment2" parameterType="java.util.Map">
            update apartment_info set bh=#{bh},gybh=#{gybh} where id = #{id}
        </update>
        <update id="EditApartment" parameterType="java.util.Map">
             update apartment_info set name = #{name},rksj=#{rksj} where id = #{id}
        </update>
        <delete id="DeleteApartment" parameterType="java.util.Map">
            delete from apartment_info where id = #{id}
        </delete>
        <select id="ExistFloor" parameterType="java.util.Map" resultType="int">
            select count(*) from apartment_info where gybh =#{gybh}
        </select>
        <select id="QueryFloorList" parameterType="java.util.Map" resultMap="FloorList">
            select t.id,
                   t.bh,
                   t.name,
                   t.louzt,
                   (select name from dictionary a where a.lx='xb' and t.louzt = a.code) louname,
                   xqbh,
                   (select name from campus_info b where  t.xqbh = b.bh) xqname,
                   gybh,
                   (select name from apartment_info c where  t.gybh = c.gybh) gyname,
                   loubh,
                   rksj
               from floor_info t
               <where>
                   <if test="xqbh!=null and xqbh !=''">
                      and xqbh =#{xqbh}
                   </if>
                   <if test="gybh!=null and gybh !=''">
                       and gybh =#{gybh}
                   </if>
               </where>
        </select>
        <insert id="AddFloor1" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
            insert into floor_info (name,louzt,xqbh,gybh,rksj) VALUES (#{name},#{louzt},#{xqbh},#{gybh},#{rksj})
        </insert>
        <update id="AddFloor2" parameterType="java.util.Map">
            update floor_info set bh=#{bh},loubh=#{loubh} where id = #{id}
        </update>
        <update id="EditFloor" parameterType="java.util.Map">
             update floor_info set name = #{name},rksj=#{rksj} where id = #{id}
        </update>
        <delete id="DelFloor" parameterType="java.util.Map">
            delete from floor_info where id = #{id}
        </delete>
        <select id="ExistBedZtLou" parameterType="java.util.Map" resultType="int">
            select count(*) from bed_info
              where loubh = #{loubh} and zt = '2'
        </select>
        <select id="QueryRoomList" parameterType="java.util.Map" resultMap="RoomList">
            select id,
            bh,
            fjbh,
            fjbz,
            (select name from dictionary a where a.lx='room' and t.fjbz = a.code) fjbzname,
            loubh,
            (select name from floor_info b where  t.loubh = b.loubh) louname,
            xqbh,
            (select name from campus_info c where  t.xqbh = c.bh) xqname,
            gybh,
            (select name from apartment_info d where  t.gybh = d.gybh) gyname,
            louzt,
            (select name from dictionary a where a.lx='xb' and t.louzt = a.code) louname,
            rksj
            from room_info t
            <where>
                <if test="xqbh!=null and xqbh !=''">
                    and xqbh =#{xqbh}
                </if>
                <if test="gybh!=null and gybh !=''">
                    and gybh =#{gybh}
                </if>
                <if test="loubh!=null and loubh !=''">
                    and loubh =#{loubh}
                </if>
                <if test="fjbh!=null and fjbh !=''">
                    and fjbh =#{fjbh}
                </if>
            </where>
        </select>
        <insert id="AddRoom" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
            insert into room_info (fjbh,fjbz,xqbh,gybh,loubh,bh,louzt,rksj) VALUES (#{fjbh},#{fjbz},#{xqbh},#{gybh},#{loubh},#{bh},#{louzt},#{rksj})
        </insert>
        <insert id="AddBed" parameterType="java.util.Map">
            insert into bed_info (fjbh,fjbz,xqbh,gybh,loubh,bh,louzt,cwbh,rksj) VALUES (#{fjbh},#{fjbz},#{xqbh},#{gybh},#{loubh},#{bh},#{louzt},#{cwbh},#{rksj})
        </insert>
        <delete id="DelRoom" parameterType="java.util.Map">
            DELETE from room_info where  fjbh =#{fjbh} and loubh=#{loubh}
        </delete>
        <delete id="DelBed" parameterType="java.util.Map">
            DELETE from bed_info where  fjbh =#{fjbh} and loubh=#{loubh}
        </delete>
        <select id="ExistRoomRz" parameterType="java.util.Map" resultType="int">
            select count(*) from bed_info
              where loubh = #{loubh} and fjbh=#{fjbh} and zt = '2'
        </select>
</mapper>
