<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.product.mapper.PurviewMapper">
    <resultMap id="MenuInfo" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="PARENT_ID" property="parent_id"/>
        <result column="URL" property="url"/>
        <result column="ICON" property="icon"/>
        <result column="PX" property="px"/>
    </resultMap>
    <insert id="AddMenu" parameterType="java.util.Map">
         insert into menu_info (name,parent_id,url,icon,px) VALUES (#{name},#{parent_id},#{url},#{icon},#{px})
    </insert>
    <update id="EditMenu" parameterType="java.util.Map">
        update menu_info set name=#{name},url=#{url},icon=#{icon},px=#{px} where id =#{id}
    </update>
    <select id="QueryMenu" parameterType="java.util.Map" resultMap="MenuInfo">
        select * from menu_info where parent_id = #{parent_id}
    </select>
    <delete id="DeleteMenu" parameterType="java.util.Map">
        delete from menu_info where id =#{id} or parent_id =#{id}
    </delete>
    <insert id="AddRoleInfo" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
        insert into role_info (role_name) values (#{role_name})
    </insert>
    <insert id="AddRoleMenu" parameterType="java.util.Map">
        insert into role_menu (role_id, menu_id) values
                 <foreach collection="menuId_List" item="item" index="index" separator=",">
                    (#{role_id,jdbcType=BIGINT},
                     #{item.menu_id,jdbcType=BIGINT}
                     )
                </foreach>
    </insert>
    <update id="EditRoleName" parameterType="java.util.Map">
        update role_info set role_name = #{role_name} where id =#{id}
    </update>
    <delete id="DeleteRoleMenu" parameterType="java.util.Map">
        delete from role_menu where role_id =#{role_id}
    </delete>
    <delete id="DeleteRoleInfo" parameterType="java.util.Map">
        delete from role_info where id =#{role_id}
    </delete>
    <select id="ExistRoleUser" parameterType="java.util.Map" resultType="int">
        select count(*) from user_role where role_id =#{role_id}
    </select>
</mapper>
