<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.product.mapper.PurviewMapper">
    <resultMap id="MenuInfo" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="PARENT_ID" property="parent_id"/>
        <result column="URL" property="url"/>
        <result column="ICON" property="icon"/>
        <result column="PX" property="px"/>
    </resultMap>
    <resultMap id="UserList" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="USERNAME" property="username"/>
        <result column="PASSWORD" property="password"/>
        <result column="REALNAME" property="realname"/>
        <result column="LXDH" property="lxdh"/>
        <result column="XY" property="xy"/>
        <result column="XYCODE" property="xycode"/>
        <result column="NJ" property="nj"/>
        <result column="RKSJ" property="rksj"/>
        <result column="ROLE_NAME" property="role_name"/>
        <result column="ROLE_ID" property="role_id"/>
    </resultMap>
    <resultMap id="MenuList" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="PARENT_ID" property="parent_id"/>
        <result column="URL" property="url"/>
        <result column="ICON" property="icon"/>
        <result column="PX" property="px"/>
        <result column="ROLE_ID" property="role_id"/>
    </resultMap>
    <resultMap id="RoleList" type="java.util.Map">
        <result column="ID" property="id"/>
        <result column="ROLE_NAME" property="role_name"/>
        <result column="MENU_ID" property="menu_id"/>
    </resultMap>
    <insert id="AddMenu" parameterType="java.util.Map">
         insert into menu_info (name,parent_id,url,icon,px) VALUES (#{name},#{parent_id},#{url},#{icon},#{px})
    </insert>
    <update id="EditMenu" parameterType="java.util.Map">
        update menu_info set name=#{name},url=#{url},icon=#{icon},px=#{px} where id =#{id}
    </update>
    <select id="QueryMenu" parameterType="java.util.Map" resultMap="MenuInfo">
        select * from menu_info where parent_id = #{parent_id} order by px
    </select>
    <delete id="DeleteMenu" parameterType="java.util.Map">
        delete from menu_info where id =#{id} or parent_id =#{id}
    </delete>
    <insert id="AddRoleInfo" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
        insert into role_info (role_name) values (#{role_name})
    </insert>
    <insert id="AddRoleMenu" parameterType="java.util.Map">
        insert into role_menu (role_id, menu_id) values
                 <foreach collection="menuId_List" item="item" index="index" separator=",">
                    (#{role_id,jdbcType=BIGINT},
                     #{item.menu_id,jdbcType=BIGINT}
                     )
                </foreach>
    </insert>
    <update id="EditRoleName" parameterType="java.util.Map">
        update role_info set role_name = #{role_name} where id =#{role_id}
    </update>
    <delete id="DeleteRoleMenu" parameterType="java.util.Map">
        delete from role_menu where role_id =#{role_id}
    </delete>
    <delete id="DeleteRoleInfo" parameterType="java.util.Map">
        delete from role_info where id =#{role_id}
    </delete>
    <select id="ExistRoleUser" parameterType="java.util.Map" resultType="int">
        select count(*) from user_role where role_id =#{role_id}
    </select>
    <insert id="AddUser" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
        insert into user_teacher
            (username,password,realname,lxdh,xy,nj,rksj)
              values
            (#{username},#{password},#{realname},#{lxdh},#{xy},#{nj},#{rksj})
    </insert>
    <insert id="AddUserRole" parameterType="java.util.Map">
        insert into user_role
            (user_id,role_id)
              values
            (#{user_id},#{role_id})
    </insert>
    <delete id="DeleteUser" parameterType="java.util.Map">
        delete from user_teacher where id =#{user_id}
    </delete>
    <delete id="DeleteUserRole" parameterType="java.util.Map">
        delete from user_role where user_id =#{user_id}
    </delete>
    <update id="EditUser" parameterType="java.util.Map">
        update user_teacher set realname=#{realname},
                                lxdh=#{lxdh},
                                xy=#{xy},
                                nj=#{nj},
                                rksj=#{rksj}
                                where id =#{user_id}
    </update>
    <select id="QueryUserList" parameterType="java.util.Map" resultMap="UserList">
        select b.*,(select a.role_name from role_info a where a.id = b.role_id) role_name
        from (
        select t.id,t.username,t.realname,t.lxdh,
        (select name from dictionary a where a.code = t.xy and a.lx='xy') xy,
        xy xycode,t1.role_id,
        nj,t.rksj from user_teacher t left join user_role t1 on t.id = t1.user_id
            ) b
        <where>
            <if test="key!=null and key!=''">
                username like #{key} or
                realname like #{key} or
                lxdh like #{key}
            </if>
        </where>
    </select>
    <select id="SelectMenu" parameterType="java.util.Map" resultMap="MenuList">
          select t1.* from menu_info t1 where
              t1.parent_id= '0'  order by px
    </select>
    <select id="SelectMenu2" parameterType="java.util.Map" resultMap="MenuList">
          select t1.*,t.role_id from role_menu t,menu_info t1 where
              t1.parent_id= '0' and t.menu_id = t1.id order by px
    </select>
    <select id="RoleList" parameterType="java.util.Map" resultType="com.product.pojo.RoleList">
          SELECT
                t.id,
                t.role_name,
                GROUP_CONCAT(t1.menu_id) menu_id
            FROM
                role_info t,
                role_menu t1
            WHERE
                t.id = t1.role_id
            GROUP BY
                t.id
    </select>
</mapper>
